@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root 
{
    --background : #f9fafb;
    --text : #2c3e50;
    --secondText : #5d6d7e;
    --note : #e0f7fa;
    --hightlight : #ff6b6b;
    --success : #27ae60;
    --accent : #f1c50f;
    --border : #95a5a6;
}

#particles-js
{
    text-align: center;
    padding: 10px 0px;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./../assets//background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--background);
    position: relative;
    min-height: 40vh;
    max-height: 50vh;
    overflow: hidden;
}

.hero-section 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

.hero-section p,
.hero-section h1 
{
    margin: 20px 0px;
}

.hero-section p 
{
    color: var(--note);
}

.hero-section a 
{
    text-decoration: none;
    background-color: var(--background);
    color: var(--text);
    padding:5px 10px;
    border-radius: 10px;
    transition: all 0.5s linear;
}

.hero-section a:hover 
{
    background-color: var(--text);
    color: var(--background);
}

.usage-info 
{
    margin: 60px 0px;
    text-align: center;
}

.usage-info h2 
{
    margin: 20px 0px;
}

.usage-info p 
{
    margin: 20px 0px;
    color: var(--text);
}

.usage-info a 
{
    text-decoration: none;
    background-color: var(--text);
    color: var(--background);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.usage-info a:hover 
{
    background-color: var(--success);
}

.adding 
{
    margin: 20px 0px;
    opacity: 0;
    position: relative;
    top: -20px;
    transition: all 0.5s linear;
}
.adding h2 
{
    text-align: center;
    margin: 20px 0px;
}

.adding > p 
{
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.steps img 
{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 1px solid var(--border);
    object-position: center;
    border-radius: 10px;
}

.steps 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
}

.steps h3 
{
    margin: 5px 0px;
}

.steps p 
{
    font-size: 14px;
    color: var(--secondText);
}

.steps > div 
{
    width: 200px;
}

.create 
{
    position: relative;
    left: -20px;
}

.organize
{
    position: relative;
    top: 20px;
}

.access 
{
    position: relative;
    left: 20px;
}

.create,.organize, .access
{
    transition: all 0.8s linear;
}

.usage-info 
{
    position: relative;
    opacity: 0;
    top: 30px;
    transition: all 2s linear;
}

@media  screen and (min-width: 440px) {
    .steps 
    {
        justify-content: space-between;
    }
}

@media screen and (min-width: 600px) {
    .hero-section h1 ,
    .hero-section p
    {
        margin: 30px 0px;
    }

    .usage-info 
    {
        width: 80%;
        margin: 50px auto;
    }

}

@media screen and (min-width: 630px) 
{
    .steps 
    {
        justify-content: center;
        gap: 40px;
    }
}