{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'notes/css/layout.css' %}">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% block css %}

    {% endblock %}
</head>
<body>
    <header>
        <div class="banner">
            <i class="fa-solid fa-note-sticky"></i>
            <h1>Notely</h1>
        </div>

        <div class="menu-container">
            <nav class="navigation">
                <ul>
                    <li><a href="{% url 'notes:index' %}">Home</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'notes:create' %}">Create</a></li>
                        <li><a href="{% url 'notes:note' %}">Your Notes</a></li>
                    {% endif %}
                </ul>
            </nav>

            <nav class="authentication-bar">
                <ul>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'notes:logout' %}">Logout</a></li>
                        <li>{{request.user.username}}</li>
                    {% else %}
                        <li><a href="{% url 'notes:register' %}">Register</a></li>
                        <li><a href="{% url 'notes:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
        <div class="menu-bar">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    {% block body %}

    {% endblock %}
    <script src="https://kit.fontawesome.com/a7a306d694.js" crossorigin="anonymous"></script>
    <script src="{% static 'notes/js/layout.js' %}"></script>
</body>
</html>